section.container.content-section.text-center(id="features")
    .row
        .col-lg-8.col-lg-offset-2
            h2 Features
    p This is a Javascript library for generating 3D spinning menus for your websites.<br/>You can define your own objects, transitions, controls and actions.<br />It is free and open source (GPLv2).<br/>
    img(src="img/comparison.png" style="max-width:100%;" alt="Comparison between tombraiderjs and original Tomb Raider Menu")

