section.container.content-section.text-center(id="contact")
    h2 Contact namelivia
    p Feel free to get in touch with me
    p
        a(href="mailto:jignacio.amelivia@gmail.com") jignacio.amelivia@gmail.com
    ul.list-inline.banner-social-buttons
        li.list-inline-item
            a.btn.btn-default.btn-lg(href="https://twitter.com/namelivia")
                i.fab.fa-twitter.fa-fw
                span.network-name Twitter
        li.list-inline-item
            a.btn.btn-default.btn-lg(href="https://github.com/namelivia")
                i.fab.fa-github.fa-fw
                span.network-name Github
        li.list-inline-item
            a.btn.btn-default.btn-lg(href="http://namelivia.com")
                i.fa.fa-user.fa-fw
                span.network-name Blog
