section.container.content-section.text-center(id="contact")
    .row
        .col-lg-8.col-lg-offset-2
            h2 Contact namelivia
            p Feel free to get in touch with me
            p
                a(href="mailto:jignacio.amelivia@gmail.com") jignacio.amelivia@gmail.com
            ul.list-inline.banner-social-buttons
                li
                    a.btn.btn-default.btn-lg(href="https://twitter.com/namelivia")
                        i.fa.fa-twitter.fa-fw
                        span.network-name Twitter
                li
                    a.btn.btn-default.btn-lg(href="https://github.com/namelivia")
                        i.fa.fa-github.fa-fw
                        span.network-name Github
                li
                    a.btn.btn-default.btn-lg(href="http://namelivia.com")
                        i.fa.fa-user.fa-fw
                        span.network-name Blog
