extends layout.pug

block content
    .container
        .row.text-center
            h2.mx-auto Weapons 3D menu
            p
                | An example of a 3D menu similar to the original Tomb Raider 2 menu, it contains some weapons and a similar background.
                | The menu control is binded to two html buttons and also the name of the selected element is displayed in a html tag under the menu.
                a.ml-2(href="http://opengameart.org/content/fps-weapons") 3D models by Kingofthecrows on Opengameart
        .row.mt-4
            .col-md-12
                .mx-auto(id="demo1" style="width:700px;height:400px;background:url('/img/somebg.png');")
        .col-md-12.text-center(style="margin-top:-360px;")
                button.btn.btn-default.btn-lg(type="button" id="moveLeft")
                    i.fa.fa-arrow-left
                span.mx-4.font-weight-bold(id="itemName" style="width:230px;display:inline-block;") Click on the arrows to move
                button.btn.btn-default.btn-lg(type="button" id="moveRight")
                    i.fa.fa-arrow-right
    script(src="/js/tombraider.js-v0.0.2.min.js")
    script(src="/js/demo1.js")
