section.container.content-section.text-center(id="download")
    .download-section
        .container
            .col-lg-8.col-lg-offset-2
                h2 Download tombraider.js
                p You can download the minified version right now, or get it from github
                a.btn.btn-default.btn-lg(href="/tombraider.js-v0.0.2.min.js") Get the minified version
                a.btn.btn-default.btn-lg(href="http://www.github.com/namelivia/tombraider.js") Go to the github repo
