nav.navbar.navbar-custom.fixed-top(role="navigation")
    .container
        .navbar-header
            a.navbar-brand.page-scroll(href="#page-top")
                i.fa.fa-play-circle.fa-fw
                span.light tombraider.js 
        .navbar-right
            ul.navbar-nav
                // Hidden li included to remove active class from about link when scrolled up past about section
                li.hidden
                    a(href="#page-top")
                li.nav-item
                    a.page-scroll(href="#features") Features
                li.nav-item
                    a.page-scroll(href="#demo") Demo
                li.nav-item
                    a.page-scroll(href="#download") Download
                li.nav-item
                    a.page-scroll(href="#contact") Contact
