nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
    .container
        .navbar-header
            a.navbar-brand.page-scroll(href="#page-top")
                i.fa.fa-play-circle
                span.light tombraider.js 
        .navbar-right
            ul.nav.navbar-nav
                // Hidden li included to remove active class from about link when scrolled up past about section
                li.hidden
                    a(href="#page-top")
                li
                    a.page-scroll(href="#features") Features
                li
                    a.page-scroll(href="#demo") Demo
                li
                    a.page-scroll(href="#download") Download
                li
                    a.page-scroll(href="#contact") Contact
